.navbar {
  background-color: #056676;
  height: 60px;
  min-width: 10px;

  &__icon-image {
    background-color: #ccc;
    background-image: url('../images/hamburger_icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    height: 60px;
    margin-left: auto;
    user-select: none;
    width: 60px;
  }

  &__user-pull-list {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    display: none;
    padding: 15px 0;
    position: absolute;
    right: 10px;
    top: 78px;
    user-select: none;
    z-index: 30000;
    list-style-type: none;
  }

  &__user-pull-item {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 10px 40px;
    text-align: center;
    user-select: none;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.nav-link {
  font-weight: 700;
}
